body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.individualArticleTitle {
  margin: 3px;
  font-size: 18px;
}
.individualArticleContent {
  margin: 3px;
  font-size: 14px;
}

.worksCollumnTitleContainer,
.quotesCollumnTitleContainer,
.storysCollumnTitleContainer {
  width: 100px;
  margin: auto;
  margin-top: 0px;
}
.articleInViewContentContainer {
  width: 1120px;
  height: 600px;
  overflow: scroll;
}

.individualArticleContainer {
  float: inline-start;
  margin: 10px;
  width: 310px;
  height: max-content;
  cursor: pointer;
}
.individualArticleContainerAdmin {
  float: inline-start;
  margin: 10px;
  width: 310px;
  height: max-content;
  cursor: pointer;
}
.individualArticleContainer:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.articleInViewButton {
  margin: 10px;
  cursor: pointer;
  color: white;
}
.saintDropdown {
  height: 34px;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: max-content;
}
.articleInViewButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.depositBackButton {
  margin: 10px;
  cursor: pointer;
}
.depositBackButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.articleInViewContent {
  font-size: 20px;
}
.depositButton {
  cursor: pointer;
  color: white;
}
.depositInsideContainer {
  margin: 50px;
  width: 940px;
  height: 700px;
}
.depositButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.randomButton {
  cursor: pointer;
}
.randomButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.depositSaintInput {
  width: 420px;
  font-size: 18px;
  border: 1px solid white;
  background-color: black;
  color: white;

  height: 35px;
}
.depositSaintInputContainer {
  margin: 10px;
  float: left;
  width: max-content;
  height: max-content;
  margin-bottom: 20px;
  height: 35px;
}
.depositReferenceInputContainer {
  margin: 10px;
  width: max-content;
  height: max-content;

  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 35px;
}
.depositSelectorContainer {
  width: max-content;
  height: max-content;
  margin-left: 60px;
  float: left;
}
.depositSelector {
  width: max-content;
  font-size: 26px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.depositDepositButtonContainer {
  width: max-content;
  height: max-content;
  float: right;
  font-size: 32px;
  margin-top: 10px;
  cursor: pointer;
}

.depositDepositButtonContainer:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.depositContentInputContainer {
  margin: 10px;
  width: max-content;
  height: max-content;
  float: left;
}
.depositReferenceInput {
  width: 420px;
  background-color: black;
  color: white;
  height: 35px;
  border: 1px solid white;
  font-size: 18px;
  float: left;
}
.depositContentInput {
  width: 900px;
  resize: none;
  font-size: 19px;
  border: 1px solid white;

  height: 550px;
  background-color: black;
  color: white;
}
.storyCollumn,
.workCollumn,
.quoteCollumn {
  width: 370px;
  margin: 10px;
  float: left;
  color: white;
}
.individualApproveButton {
  background-color: white;
  cursor: pointer;
}
.individualApproveButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.workArticleContainer,
.quoteArticleContainer,
.storyArticleContainer {
  overflow-x: scroll;
  width: 350px;
  height: 610px;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.allCollumnContainer {
  float: left;

  width: 1190px;
  height: 700px;
}
.articleInViewDisplayArticleContainer {
  margin: 50px;
  color: white;
}
.searchBarContainer {
  margin: auto;
  width: 700px;
}
.searchBar {
  float: left;
  width: 300px;
  height: 50px;
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 400px;
  height: 30px;
}
.depositButtonContainer {
  float: right;

  width: 100px;
}
.randomButtonContainer {
  float: left;
  width: 300px;
  color: white;
  margin: 20px;
}
.publicContainer {
  width: 1200px;
  margin-left: 420px;
  filter: drop-shadow(1px 1px 10px #9e9e9e);

  height: 850px;
}
.imageContainer {
  float: left;
}
.depositContainer {
  margin-left: 450px;
  color: white;
  width: 1200px;
  filter: drop-shadow(1px 1px 10px #9e9e9e);

  height: 850px;
}
.topContainer {
  height: 200px;
  width: 2000px;
  float: left;
}
.bottomContainer {
  height: 200px;
  width: 2000px;
  float: left;
}
.imageContainer {
  float: left;
}
.interactiveContainer {
  float: left;
}
.title {
  font-size: 59px;
}
.titleContainer {
  float: left;
}
.titleImage {
  width: 1000px;
  filter: drop-shadow(1px 1px 10px #9e9e9e);
}
.adminLoginContainer {
  float: left;
  margin: 10px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  width: 200px;
  height: 110px;
  margin-right: 300px;
}
.App {
  border: 1px solid rgb(255, 255, 255);
  width: 1600px;
  height: 980px;
  background-image: url("./Images/wallpaper-thevirgin3.jpg");
  background-size: cover;
  filter: drop-shadow(1px 1px 10px #ffffff);
  margin: auto;
}
.loginButton {
  margin: 10px;
  width: 170px;
  margin-left: 70px;
  cursor: pointer;
  filter: drop-shadow(1px 1px 10px #ffffff);

  float: left;
}
.loginButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.usernameInputContainer,
.passwordInputContainer {
  margin: 10px;
  background-color: black;
  color: white;
  float: left;
}
.image {
  width: 390px;
  display: none;
}
.usernameInput,
.passwordInput {
  background-color: black;
  border: 1px solid white;
}
