body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.individualArticleTitle {
  margin: 3px;
  font-size: 19px;
}
.individualArticleContent {
  margin: 3px;
  font-size: 16px;
}
.worksCollumnTitleContainer,
.quotesCollumnTitleContainer,
.storysCollumnTitleContainer {
  width: 100px;
  margin: auto;
  margin-top: 0px;
}
.individualArticleContainer {
  float: inline-start;
  margin: 10px;
  width: 310px;
  cursor: pointer;
}
.storyCollumn,
.workCollumn,
.quoteCollumn {
  width: 370px;
  margin: 10px;
  float: left;
}
.workArticleContainer,
.quoteArticleContainer,
.storyArticleContainer {
  overflow-x: scroll;
  width: 350px;
  height: 610px;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

.allCollumnContainer {
  border: 1px solid black;
  width: 1190px;
  height: 700px;
}
.publicContainer {
  width: 1200px;
  border: 1px solid black;
  height: 850px;
}
.imageContainer {
  float: left;
}
.depositContainer {
  width: 1100px;
  border: 1px solid black;
  height: 800px;
}
.topContainer {
  height: 200px;
  width: 2000px;
  float: left;
}
.bottomContainer {
  height: 200px;
  width: 2000px;
  float: left;
}
.imageContainer {
  float: left;
}
.interactiveContainer {
  float: left;
}
.title {
  font-size: 59px;
}
.titleContainer {
  float: left;
}
.adminLoginContainer {
  float: left;
  width: 200px;
}
.App {
  border: 1px solid black;
  width: 1700px;
  height: 1080px;
  margin: auto;
}
.usernameInputContainer,
.passwordInputContainer {
  margin: 10px;
  float: left;
}
.image {
  width: 480px;
}
