body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.individualArticleTitle {
  margin: 3px;
  font-size: 18px;
}
.individualArticleContent {
  margin: 3px;
  font-size: 14px;
}

.worksCollumnTitleContainer,
.quotesCollumnTitleContainer,
.storysCollumnTitleContainer {
  width: 100px;
  margin: auto;
  margin-top: 0px;
}
.articleInViewContentContainer {
  overflow: scroll;
}

.individualArticleContainer {
  float: inline-start;
  margin: 10px;
  width: 90%;
  height: max-content;
  cursor: pointer;
}
.individualArticleContainerAdmin {
  float: inline-start;
  margin: 10px;
  width: 310px;
  height: max-content;
  cursor: pointer;
}
.individualArticleContainer:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.articleInViewButton {
  margin-left: 20px;
  cursor: pointer;
  color: white;
}
.saintDropdown {
  border-radius: 0px 10px 10px 0px;
  height: 34px;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: max-content;
}
.articleInViewButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.depositBackButton {
  margin-left: 20px;
  width: max-content;
  cursor: pointer;
}
.depositBackButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.articleInViewContent {
  font-size: 20px;
}
.depositButton {
  cursor: pointer;
  color: white;
}
.depositInsideContainer {
  margin: 20px;
  width: calc(100vw - 380px);
  height: max-content;
}
.depositButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.randomButton {
  cursor: pointer;
}
.randomButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.depositSaintInput {
  width: 350px;
  font-size: 18px;
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 10px;

  height: 35px;
}
.depositSaintInputContainer {
  margin: 0px;
  float: left;
  width: max-content;
  height: max-content;
  margin-bottom: 20px;
  height: 35px;
}
.overallViewContainer {
  width: calc(100vw - 430px);
}
.depositReferenceInputContainer {
  margin: 0px;
  width: max-content;
  height: max-content;

  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 35px;
}
.depositSelectorContainer {
  width: max-content;
  height: max-content;

  margin: 20px;
  float: left;
  margin-right: 100%;
}
.depositSelector {
  width: max-content;
  border-radius: 10px;
  font-size: 26px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.depositDepositButtonContainer {
  width: max-content;
  height: max-content;
  float: right;
  font-size: 32px;
  margin-top: 30px;
  margin-right: 120px;
  margin-left: 0px;
  cursor: pointer;
}

.depositDepositButtonContainer:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.depositContentInputContainer {
  width: max-content;
  border-radius: 10px;
  height: max-content;
  margin-right: 200px;
  float: left;
}
.depositReferenceInput {
  border-radius: 10px;
  width: 350px;
  background-color: black;
  color: white;
  height: 35px;
  border: 1px solid white;
  font-size: 18px;
  float: left;
}
.depositContentInput {
  border-radius: 10px;
  width: calc(100vw - 550px);
  font-family: "Times New Roman", Times, serif;
  resize: none;
  font-size: 19px;
  border: 1px solid white;

  height: 520px;
  background-color: black;
  color: white;
}
.storyCollumn,
.workCollumn,
.quoteCollumn {
  flex: 1;
  margin: 5px;
  float: left;
  color: white;
  margin-right: 50px;
}
.individualApproveButton {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}
.individualApproveButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.workArticleContainer,
.quoteArticleContainer,
.storyArticleContainer {
  overflow-x: scroll;
  width: 100%;
  height: calc(100vh - 400px);
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-corner {
  background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.allCollumnContainer {
  width: 100%;
  display: flex;
}
.articleInViewDisplayArticleContainer {
  width: calc(100vw - 480px);
  margin: 20px;
  color: white;
}
.searchBarContainer {
  margin: auto;
  float: left;
  width: max-content;
}
.searchBar {
  border-radius: 10px 0px 0px 10px;
  float: left;
  width: 300px;
  height: 50px;
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 400px;
  height: 30px;
}
.depositButtonContainer {
  float: left;

  width: 100px;
}
.randomButtonContainer {
  float: left;
  width: max-content;
  color: white;
  margin-left: 20px;
}
.searchContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.publicContainer {
  width: calc(100vw - 360px);
  margin-left: 360px;
  filter: drop-shadow(1px 1px 10px #9e9e9e);

  height: max-content;
}
.imageContainer {
  float: left;
}
.depositContainer {
  width: calc(100vw - 460px);
  border-radius: 10px;
  margin-left: 360px;
  filter: drop-shadow(1px 1px 10px #9e9e9e);
  color: white;
  height: 850px;
}
.topContainer {
  overflow: hidden;
  width: 100vw;
  flex: 1;
  display: flex;
  float: left;
  justify-content: space-between;
}
.bottomContainer {
  height: 200px;
  width: 100vw;
  float: left;
}
.imageContainer {
  float: left;
}
.interactiveContainer {
  width: 100vw;
  float: left;
}
.title {
  font-size: 59px;
}
.titleContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.titleImage {
  width: 1000px;

  filter: drop-shadow(1px 1px 10px #9e9e9e);
}
.adminLoginContainer {
  display: flex;
  flex-direction: column;
  margin: 30px;
  flex-shrink: 0;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  width: max-content;
  height: max-content;
  border-radius: 10px;
  margin-right: 110px;
}
.App {
  display: flex;

  width: 100vw;
  height: 100vh;
  background-image: url("/Users/edenphillips/Desktop/Projects/Soul_Nourishment-1/src/Images/arch2.png");
  background-size: cover;

  margin: auto;
}
.loginButton {
  margin: 10px;
  width: 60px;
  margin-left: 146px;
  cursor: pointer;
  filter: drop-shadow(1px 1px 10px #ffffff);

  float: left;
}
.loginButton:hover {
  filter: drop-shadow(1px 1px 10px #818181);
}
.usernameInputContainer,
.passwordInputContainer {
  margin: 10px;
  background-color: black;
  color: white;
  float: left;
  margin-bottom: 5px;
}
.image {
  width: 390px;
  display: none;
}
.usernameInput,
.passwordInput {
  background-color: black;
  width: 190px;
  color: white;
  border-radius: 10px;
  font-size: 10px;
  height: 17px;
  border: 1px solid white;
}
